<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear Peleas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-item lines="none">
      <ion-input label="Numero de pelea" type="number" label-placement="floating" fill="outline"
        formControlName="number_clashes" placeholder="Enter text"></ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-select label="Tipo de pelea" label-placement="floating" fill="solid" formControlName="id_type_clashes">
        <ion-select-option [value]="1">Exhibición</ion-select-option>
        <ion-select-option [value]="2">Amarte</ion-select-option>
        <ion-select-option [value]="3">Profesional</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Rounds" label-placement="floating" fill="outline" placeholder="Enter text"
        formControlName="rounds"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-select label="Tipo de categoría" label-placement="floating" fill="solid" formControlName="id_category">
        <ion-select-option [value]="1">Exhibición</ion-select-option>
        <ion-select-option [value]="2">Amarte</ion-select-option>
        <ion-select-option [value]="3">Profesional</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="vs" lines="none">

      <ion-content class="container-boxers">

        <ion-searchbar [debounce]="1000" (ionInput)="searchInputBoxerOne($event)"></ion-searchbar>

        <app-list-of-boxers [boxers]="boxersOne" (Click)="onClickBoxerOne($event)" />

        <app-selected-boxer [selectBoxer]="selectBoxerOne" (onDelete)="onDeleteBoxerOne()" />

        @if(selectBoxerOne){

        <ion-item lines="none">
          <ion-select label="Tipo de categoría" label-placement="floating" fill="solid"
            formControlName="cornerBoxerOne">
            <ion-select-option value="Roja">Roja</ion-select-option>
            <ion-select-option value="Azul">Azul</ion-select-option>
          </ion-select>
        </ion-item>
        }


        @if(form.hasError('sameSelect')){
        <p>Los boxeadores no pueden tener la misma esquina</p>
        }

      </ion-content>

      <span>vs</span>


      <ion-content class="container-boxers">

        <ion-searchbar #searchOne [debounce]="1000" (ionInput)="searchInputBoxerTwo($event)"></ion-searchbar>

        <app-list-of-boxers [boxers]="boxersTwo" (Click)="onClickBoxerTwo($event)" />

        <app-selected-boxer [selectBoxer]="selectBoxerTwo" (onDelete)="onDeleteBoxerTwo()" />


        @if(selectBoxerTwo){

        <ion-item lines="none">
          <ion-select label="Tipo de categoría" label-placement="floating" fill="solid"
            formControlName="cornerBoxerTwo">
            <ion-select-option value="Roja">Roja</ion-select-option>
            <ion-select-option value="Azul">Azul</ion-select-option>
          </ion-select>
        </ion-item>

        }

        @if(form.hasError('sameSelect')){
        <p>Los boxeadores no pueden tener la misma esquina</p>
        }


      </ion-content>


    </ion-item>


    <ion-item lines="none" class="button">
      <ion-button type="submit">Custom Button</ion-button>
    </ion-item>

  </form>

</ion-content>