<main>
  <h1>Crear boxeador</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-custom-input label="Nombre" ref="name" [controlForm]="form.controls['name']" type="text" formControlName="name"
      class="name" />
    <!--
    <app-custom-select label="Escuela" ref="school" [options]="schools" labelOption="name" valueOption="id"
      formControlName="id_school" class="school" />


    <app-custom-select label="Categoría" ref="id_category" [options]="[]" labelOption="label" valueOption="value"
      formControlName="id_category" class="category" />

    <app-custom-input label="Peso" ref="weight" [controlForm]="form.controls['weight']" type="number"
      formControlName="weight" class="weight" />

    <app-custom-select label="Coach" ref="id_coach" [options]="[]" labelOption="label" valueOption="value"
      formControlName="id_coach" class="coach" />

    <div class="textarea textarea-grid">
      <label for="details">Detalles</label>
      <textarea name="details" id="details" formControlName="details"></textarea>
    </div>

    <app-custom-select label="Estado" ref="id_state" [options]="[]" labelOption="label" valueOption="value"
      formControlName="id_state" class="state" />


    <app-custom-input label="Peleas" ref="fights" [controlForm]="form.controls['fights']" type="number"
      formControlName="fights" class="fights" />

    <app-custom-select label="Genero" ref="gender" [options]="[]" labelOption="label" valueOption="value"
      formControlName="gender" class="gender" />
 -->
    <button class="button create">Crear Boxeador</button>
  </form>

</main>
