aside{
  position:fixed;
  inset-inline-start: 0;
  inset-block: 0;
  width: 220px;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  background-color: #111111;
  z-index: 4;
}

.active{
  transform: translateX(0);
}


a{
  color: #c7022c;
  transition: color 1s ease-in-out;
  &:hover{
    color: #79001a;
  }
}

dt,dd{
  margin-top: 19px;
}

dd{
  margin-left: 12px;
}
