@let typeLocal = type();
@let placeholderLocal = placeholder();
@let controlFormLocal = controlForm();
@let labelLocal = label();
@let refLocal = ref();
@let validatorsLocal = validators();

<div>

  <label [for]="refLocal">{{labelLocal}}</label>
  <input [type]="!visiblePassword() ? typeLocal :'text'" [name]="refLocal" [placeholder]="placeholderLocal ??''"
    [class.invalid-input]="controlFormLocal.invalid && controlFormLocal.touched" [formControl]="controlFormLocal" />

  <ng-content></ng-content>



  @if(typeLocal === 'password'){

  @if(!visiblePassword()){
  <button type="button" class="icon" (click)="onVisibilityToggle()">
    <ng-icon [svg]="iconEyeOff"></ng-icon>
  </button>
  }@else{
  <button type="button" class="icon" (click)="onVisibilityToggle()">
    <ng-icon [svg]="iconEyed"></ng-icon>
  </button>
  }

  }

</div>
