@let boxerLocal = boxer();
@let coachLocal = coach$();
@let schoolLocal = school$();

<li>

  <div class="container-info">
    <strong>{{boxerLocal.name}}</strong>
    <b>/</b>
    <strong>Peso: {{boxerLocal.weight}}kg</strong>
    <b>/</b>
    @if(coachLocal | async; as coach){
    <strong>Coach : {{coach.data.name}}</strong>
    }
    <b>/</b>
    @if(schoolLocal | async; as school){
    <strong>Escuela: {{school.data.name}}</strong>
    }

  </div>

  <app-menu-vertical [items]="menuItems" />

  <div class="container-buttons">
    <button class="edit-element" (click)="onEdit()">
      <ng-icon [svg]="editIcon"></ng-icon>
    </button>
    <button class="trash-element" (click)="onOpenModal()">
      <ng-icon [svg]="trashIcon"></ng-icon>
    </button>
  </div>
</li>

<app-confirm-modal #confirmModal title="Eliminar boxeador" paragraph="¿Desea eliminar {{boxerLocal.name}}?"
  (confirm)="onDelete(boxerLocal.id|| '')" />
