:root{
  --primary-color: #131313;
  --color-white: #cfcece;
  --invalid: rgb(177, 2, 2) ;

  --size-title : clamp(2rem,calc(1.3rem + 6vw),6rem);

  --padding-inline: 1.4rem;

  --font-title: "Bebas Neue", sans-serif;
  --font-text:  "Public Sans", sans-serif;

}
