.list {
  background-color: var(--ion-black);

}

.button-boxer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 129px;
  width: 161px;
  padding: 5px 0;
  gap: 10px;
  text-align: left;
  color: var(--ion-white);

  &:active {
    background-color: var(--ion-color-primary);
  }
}