<article class="item">

  <header class="item-header">

    <h4>Pelea numero:{{fight?.number}}</h4>

    <div class="item-header__container">
      <strong>{{fight?.id_type_clashes}}</strong>
      <div>
        <ion-button>
          <ion-icon name="settings-sharp" class="icon"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="person-add" class="icon"></ion-icon>
        </ion-button>
      </div>
    </div>

  </header>
  @if (fight) {
  <div class="info-fight">
    <strong>VS</strong>
    <span>Round: {{fight.rounds}}</span>
    <span> <app-state-fights [id]="fight.id_state" /> </span>

  </div>
  }

  <section>

    <div>
      @if(boxerOne){
      <h3 class="name-boxer">{{boxerOne.name}}</h3>
      <strong class="corners">Esquina: {{boxerOne.corner}}</strong>
      }@else {
      <p>Sin Boxeador</p>
      }
    </div>

    @if(boxerTwo){
    <div>
      <h3 class="name-boxer">Franco Pini</h3>
      <strong class="corners">Esquina: Azul</strong>
    </div>
    }@else {
    <p>Sin Boxeador</p>
    }

  </section>


  <footer>

    @if(boxerOne){

    <ul>
      <li>Entrenador: <app-coach [id]="boxerOne.id_coach" /> </li>
      <li>Escuela: <app-school [id]="boxerOne.id_school" /> </li>
    </ul>

    }@else {
    <p>Sin Boxeador</p>
    }

    @if(boxerTwo){

    <ul>
      <li>Entrenador:{{boxerTwo.id_coach}}</li>
      <li>Escuela: {{boxerTwo.id_school}}</li>
    </ul>
    }@else {
    <p>Sin Boxeador</p>
    }


  </footer>



</article>