.item {
  position: relative;
  height: 154px;
  width: 400px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 226px;
    inset-block: 0;
    z-index: -1;
  }

  &::after {
    clip-path: polygon(0px 0%, 94% 0px, 78% 100%, 0 100%);
    background-color: var(--ion-black);
  }

  &::before {
    inset-inline-end: 0;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%);
    background-color: var(--ion-color-primary);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--ion-padding-inline);
    font-size: 14px;

    &__container {
      display: flex;
      justify-content: space-around;
      width: 187px;
    }
  }


  & section,
  & footer {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--ion-padding-inline);
    font-size: clamp(12px, 21vw, 19px);
  }

  & .info-fight {
    --size: 97px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: var(--size);
    width: var(--size);
    inset-block: 20%;
    inset-inline: 38%;
    border-radius: 50%;
    background-color: #101010;
    z-index: 1;

    strong {
      font-size: 20px;
    }

    span {
      font-size: 10px;
    }
  }

}

.name-boxer {
  margin: 0;
  font-size: 14px;
}

.corners {
  font-size: 8px;
}

ul {
  font-size: 9px;
}

.icon {
  color: white;
}