<article class="item">

  <header class="item-header">

    <h4>Pelea numero:1</h4>
    <!-- <div>
      <h3>Sebastian de la cruz</h3>
    </div> -->

    <div class="item-header__container">
      <strong>Exhibición</strong>
      <div>
        <button>1</button>
        <button>2</button>
      </div>
    </div>

  </header>

  <div class="info-fight">

    <span>Round: 2</span>
    <strong>VS</strong>
    <span>Proceso</span>

  </div>


  <section>
    <div>
      <h3 class="name-boxer">Sebastian de la cruz</h3>
      <strong>Esquina: Roja</strong>
    </div>

    <div>
      <h3 class="name-boxer">Franco Pini</h3>
      <strong>Esquina: Azul</strong>
    </div>


  </section>



  <footer>
    <ul>
      <li>Esquina:Roja</li>
      <li>Entrenador:Tomas Rojas</li>
      <li>Escuela:Team Rojas</li>
    </ul>

    <ul>
      <li>Esquina:Azul</li>
      <li>Entrenador:Chino maidana</li>
      <li>Escuela:Team Mainada</li>
    </ul>


  </footer>

  <!-- <section class="container-two">

    <header class="header">

      <h3>Franco tini</h3>
    </header>

    <ul>
      <li>Esquina:Roja</li>
      <li>Entrenador:Tomas Rojas</li>
      <li>Escuela:Team Rojas</li>
    </ul>
  </section> -->
</article>