<article class="item">

  <header class="item-header">

    <h4>Pelea numero:1</h4>

    <div class="item-header__container">
      <strong>Exhibición</strong>
      <div>
        <button>1</button>
        <button>2</button>
      </div>
    </div>

  </header>

  <div class="info-fight">
    <strong>VS</strong>
    <span>Round: 2</span>
    <span>Proceso</span>

  </div>

  <section>

    <div>
      <h3 class="name-boxer">Sebastian de la cruz</h3>
      <strong class="corners">Esquina: Roja</strong>
    </div>

    <div>
      <h3 class="name-boxer">Franco Pini</h3>
      <strong class="corners">Esquina: Azul</strong>
    </div>

  </section>

  <footer>
    <ul>
      <li>Entrenador:Tomas Rojas</li>
      <li>Escuela:Team Rojas</li>
    </ul>

    <ul>
      <li>Entrenador:Chino maidana</li>
      <li>Escuela:Team Mainada</li>
    </ul>


  </footer>

</article>