li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
  border-bottom: 1px solid #5e5e5e;
}

.container-buttons{
  display: none;
}

.container-info{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  & span{
    color:#c7022c;
  }
}

@media screen and (min-width: 960px) {
  .container-buttons{
    display: block;
  }

}

