.container-select{
  position:relative;
  overflow: hidden;

}


.container-select-visible{
  overflow: visible;
}


.container-input{
  position: relative;
  height: 59px;
  width: 100%;
  padding: 0 8px;
  border: 0.6px solid #282828;
  border-radius: 2px;
  background-color: #b5b5b5;

  &:focus{
    border: none;
    outline: 3px solid rgb(0, 60, 109);
  }
}

.container-select-invalid{
  border: 2px solid var(--invalid);
}


.icon{
  position: absolute;
  inset-inline-end: 14px;
  inset-block: 32%;
  border-radius: 2px;
  background-color: #282828;
}


.list-option{
  position: absolute;
  inset-inline: 0;
  inset-block-start: 0;
  max-height: 120px;
  margin: 0;
  visibility: hidden;
  transform: translateY(0);
  background-color: #b5b5b5;
  color: #282828;
  overflow-y: scroll;
}


.list-option-active{

  border: 0.6px solid #282828;
  visibility: visible;
  transform: translateY(5.7rem);

}


.option{
 height: 59px;
 width: 100%;
 padding-inline: 7px;
 line-height: 59px;
 text-align: left;

 &:hover{
  background-color: #434141a1;
 }
}

span{
  line-height: 59px;
  color: #282828;
}
